.calendar {
    .week-events {
        display: flex;
        flex-direction: column;
        @media (min-width: 700px) {
            flex-direction: row;
            .day {
                padding: 0 5px;
                border-right: 2px dotted #ccc;
            }
        }
    }
}
